@page "/"
@inherits IndexComponent

<div class="row mb-lg-3">
    <div class="input-group col-4">
        <input id="track" type="text" class="form-control" placeholder="handle or hashtag" />
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @onclick="AddTrack">
                <span class="oi oi-plus mr-2"></span> Add
            </button>
        </div>
    </div>
    <div class="input-group col-8">
        @foreach (var track in Tracks)
        {
            <span class="badge badge-pill p-3 mr-2 mb-2 badge-light clickable"
                  title="Click to remove '@(track)'." @onclick="(() => RemoveTrack(track))">
                @track
            </span>
        }
    </div>
</div>

<div class="row">
    <div class="col-4">
        <button class="btn btn-lg btn-light mr-2" disabled=@(IsStreaming) @onclick="StartAsync">
            <span class="oi oi-media-play mr-2"></span> Start
        </button>
        <button class="btn btn-lg btn-light mr-2" disabled=@(!IsStreaming) @onclick="StopAsync">
            <span class="oi oi-media-stop mr-2"></span> Stop
        </button>
        <button class="btn btn-lg btn-light" disabled=@(!IsStreaming) @onclick="PauseAsync">
            <span class="oi oi-media-pause mr-2"></span> Pause
        </button>
    </div>
    <div class="col-8">
        <div class="alert alert-primary" role="alert">
            @Status
        </div>
    </div>
</div>

<div class="row">
    @if (Tweets?.Any() ?? false)
    {
        <div class="col-6">
            <h2 class="text-light">Filtered Tweets</h2>
            <ul class="reversed no-bullets">
                @foreach (var tweet in Tweets)
                {
                    var tweetHTml = new MarkupString(tweet.HTML);
                    <li>@tweetHTml</li>
                }
            </ul>
        </div>
    }
    @if (OffTopicTweets?.Any() ?? false)
    {
        <div class="col-6">
            <h2 class="text-light">Off Topic Tweets</h2>
            <ul class="reversed no-bullets">
                @foreach (var tweet in OffTopicTweets)
                {
                    var tweetHTml = new MarkupString(tweet.HTML);
                    <li>@tweetHTml</li>
                }
            </ul>
        </div>
    }
</div>